<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" [(ngModel)]="book.title" 
            class="form-control" 
            id="title" 
            name="title" 
            placeholder="Enter book's title"
            required
            #title="ngModel">
        </div>
        <div [hidden]="!title.pristine" class="alert alert-danger">Title is required</div>
        <br>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" [(ngModel)]="book.author" 
            class="form-control" 
            id="author" 
            name="author" 
            placeholder="Enter book's author"
            required
            #author="ngModel">
          <div [hidden]="!author.pristine" class="alert alert-danger">Author is required</div>
        </div>
        <br>
          <div class="form-group">
            <label for="isBoughtBeforeRegisterOnTheApp">Did you buy the book before the registration on the app?</label>
            <br>
            <br>
            <input type="radio" id ="yesChoice" [(ngModel)] ="book.boughtBeforeRegisterOnTheApp" [value]=true name="isBoughtBeforeRegisterOnTheApp"  >
            <label class="answare" for="boughtBeforeRegisterOnTheApp">Yes</label>
            <br>
            <input type="radio" id ="noChoice"  [(ngModel)] ="book.boughtBeforeRegisterOnTheApp" [value]=false name="isBoughtBeforeRegisterOnTheApp">
            <label class="answare" for="boughtBeforeRegisterOnTheApp">No</label>
          </div>
          <br>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" [(ngModel)]="book.price" 
              class="form-control" 
              id="price" 
              name="price" 
              placeholder="Enter book's price"
              required
              #price="ngModel">
          </div>
          <div [hidden]="!price.pristine" class="alert alert-danger">Price is required</div>
          <br>
        <button type="submit" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
  

